.wrapper{
	width:1000px;
	height:auto;
    margin:auto;
    border:1px solid tomato;
    padding:10px;
}
.header-wrapper{
	width:100%;
	max-height:160px;
	background:rgba(255,255,213,0.5);
}

/*header style here*/
.header-wrapper #header{
  width:1000px;
  height: 100px;
  margin:auto;
}
/*content style here*/
#content{
    width:1000px;
    margin:auto;
    background:#fff;
}

.footer-wrapper{
	width:100%;
	min-height: 200px;
	background:#ddd;
}
/*footer style here*/
.footer-wrapper #footer{
   width:1000px;
   margin:auto;
}