.wrapper{
	width:1000px;
	height:auto;
    margin:auto;
    border:1px solid tomato;
    padding:10px;
}

/*header style here*/
#header{

}
/*content style here*/
#content{

}

/*footer style here*/
#footer{

}